version: '3'
services:
  mysql:
    image: mysql
    restart: always
    ports:
      - 3306:3306
    platform: linux/x86_64
    volumes:
      - ./../volume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
  phpmyadmin:
    image: phpmyadmin
    restart: always
    environment:
      PMA_ARBITRARY: 0
      PMA_HOST: mysql 
      PMA_USER: user
      PMA_PASSWORD: 1234
    ports:
      - 8080:80
  redis:
    image: "redis:alpine"

    command: redis-server --requirepass 1234

    ports:
     - "6379:6379"

    volumes:
     - ../redis-data:/var/lib/redis
      # - ../redis.conf:/usr/local/etc/redis/redis.conf

    environment:
     - REDIS_REPLICATION_MODE=master
